<odoo>
    <data>
        <menuitem id="visuelcode_menu" name="Control de inventario" /> 
        <menuitem id="visuelcode_submenu" name="Ajustes de inventario" sequence="10" parent="visuelcode_menu"/> 

        <record id="action_ajuste_inventario_form" model="ir.actions.act_window">
            <field name="name">Ajustes de inventario</field>
            <field name="res_model">visuelcode.ajuste.inventario</field>
            <field name="view_mode">tree,form</field>
         </record>
        <menuitem id="ajuste_inventario_action" name="Actualizar Stock" sequence="10" parent="visuelcode_submenu" action="visuelcode.action_ajuste_inventario_form"/> 

</data>
</odoo>


