<odoo>
    <data>
        <menuitem id="presupuestos_menu" name="Presupuesto" sequence="10"/>
        <menuitem id="presupuestos_presupuesto_submenu" name="Presupuesto" parent="presupuestos_menu" sequence="10" />

        <menuitem id="presupuestos_presupuesto_submenu" name="Control" parent="presupuestos_menu" sequence="2" />
        <menuitem id="presupuesto_control_presupuestal" name="Control Presupuestal" parent="presupuestos_presupuesto_submenu" action="presupuesto_control_presu_action" sequence="2"/>
        <menuitem id="presupuesto_control_presupuestal_operativo" name="Control Operativo" parent="presupuestos_presupuesto_submenu" action="presupuesto_control_presu_action" sequence="2"/>
        <menuitem id="presupuesto_reclasificacion" name="Reclasificación" parent="presupuestos_presupuesto_submenu" action="prespuesto_transferencia_action" sequence="2"/>
        
        
        <menuitem id="presupuestos_catalogos_control_submenu" name="Catálogos" parent="presupuestos_presupuesto_submenu" sequence="5" />
        <menuitem id="presupuesto_documento" name="Documentos" parent="presupuestos_catalogos_control_submenu" action="presupuesto_documento_action" />

        <menuitem id="presupuestos_reportes_submenu" name="Reportes" parent="presupuestos_presupuesto_submenu" sequence="5" />
        <menuitem id="presupuesto_control_presupuestal_reporte" name="Control Presupuestal" parent="presupuestos_reportes_submenu" action="action_wizard_cp_acumulado"/>

        <menuitem id="presupuestos_operaciones_submenu" name="Operaciones" parent="presupuestos_presupuesto_submenu" sequence="5" />
        <menuitem id="presupuesto_control_periodos" name="Control de Periodos" parent="presupuestos_operaciones_submenu" action="action_wizard_control_periodos"/>
        <menuitem id="presupuesto_remanentes" name="Remanentes" parent="presupuestos_operaciones_submenu" action="action_wizard_remanentes"/>
        <menuitem id="presupuesto_polizas_presupuestales" name="Polizas Presupuestales" parent="presupuestos_operaciones_submenu" action="wizard_polizas_presupuestales_action"/>
        <menuitem id="presupuesto_polizas_presupuestales_historico" name="Polizas Presupuestales histórico" parent="presupuestos_operaciones_submenu" action="polizas_presupuestales_action"/>
        
        
        <menuitem id="presupuestos_configuracion_submenu" name="Configuración" parent="presupuestos_menu" sequence="2" />
        <menuitem id="presupuestos_catalogos_submenu" name="Catálogos" parent="presupuestos_configuracion_submenu" sequence="5" />
        <menuitem id="presupuesto_partida_presupuestal_item_action" name="Partida presupuestal" parent="presupuestos_catalogos_submenu" action="presupuesto_partida_presupuestal_action" />
        <menuitem id="presupuesto_area_funcional_item_action" name="Área Funcional" parent="presupuestos_catalogos_submenu" action="presupuesto_area_funcional_action"  />
        <menuitem id="presupuesto_fondo_economico_item_action" name="Fondo" parent="presupuestos_catalogos_submenu" action="presupuesto_fondo_economico_action"  />
        <menuitem id="presupuesto_centro_gestor_item_action" name="Centro Gestor" parent="presupuestos_catalogos_submenu" action="presupuesto_centro_gestor_action"  />
        <menuitem id="presupuesto_cuenta_orden_item_action" name="Cuentas de Orden" parent="presupuestos_catalogos_submenu" action="presupuesto_cuenta_orden_action"  />
        <menuitem id="presupuesto_clase_documento" name="Clase Documento" parent="presupuestos_catalogos_submenu" action="presupuesto_clase_documento_action"  />
        <menuitem id="presupuesto_version_item_action" name="Versión" parent="presupuestos_catalogos_submenu" action="presupuesto_version_action"  />
        <menuitem id="presupuesto_ministraciones_action" name="Ministraciones" parent="presupuestos_catalogos_submenu" action="ministracion_presupuestal_action"  />
        <menuitem id="presupuesto_rubro_ingresos_action" name="Rubro de Ingresos" parent="presupuestos_catalogos_submenu" action="rubro_ingreso_action"  /> 

        <menuitem id="contabilidad_menu" name="Contabilidad" sequence="2"/>
        <menuitem id="presupuestos_contabilidad_submenu" name="Catálogos" parent="contabilidad_menu" sequence="2" />
        <!-- <menuitem id="plan_contable_menu" name="Plan Contable" parent="presupuestos_contabilidad_submenu" action="action_account_account_form" sequence="13" /> -->
        <!-- <menuitem id="facturas_menu" name="Facturas proveedor" parent="presupuestos_contabilidad_submenu" action="account.action_move_in_invoice_type" sequence="13" />
        <menuitem id="facturas_menu" name="Facturas proveedor" parent="presupuestos_contabilidad_submenu" action="action_account_journal_tja_form" sequence="13" /> -->



    </data>
</odoo>
